@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

h1,p{font-family: 'Black And White Picture', sans-serif;}
h1{
    text-align: center;
    margin-top: 20px;
}

.sub-box2{
    max-width: 200px;
    width:100% ; 
    margin-top :60px;
    margin-left :420px;
    float:left;
}
    .sub-box2>ul{font-size:0;}

    .sub-box2> ul >li > a{
        display:block;
        width: 200px;
        text-decoration: none;
        margin:8px;
    }
    .sub-box2> ul> li> a .screen{
        position: relative ;
        overflow: hidden;
    }

    .sub-box2>ul>li>a .screen .img-a{ 
        width:100%;
    }
    .sub-box2>ul>li>a .screen .img-b{ 
        width:100%;
        transition: all 0.35s linear;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
    }
 
    .sub-box2>ul>li>a .screen:hover .img-b{ 
        opacity: 1;
    }

    .sub-box2>ul>li>a p{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        margin-bottom:0;
        color:#858585;
    }

.sub-box3{
    max-width: 200px;
    width:100% ; 
    margin-top :75px;
    margin-left :820px;
}
    .sub-box3>ul{font-size:0;}

    .sub-box3> ul >li > a{
        display:block;
        width: 200px;
        text-decoration: none;
        margin:8px;
    }
    .sub-box3> ul> li> a .screen{
        position: relative ;
        overflow: hidden;
    }

    .sub-box3>ul>li>a .screen .img-a{ 
        object-fit: cover;
        width:100%;
    }

    .sub-box3>ul>li>a .screen .img-b{ 
        width:100%;
        transition: all 0.35s linear;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
    }

    .sub-box3>ul>li>a .screen:hover .img-b{ 
        opacity: 1;
    }
    
    .sub-box3>ul>li>a p{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        margin-bottom:0;
        color:#858585;
    }
