@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');


p,h2,h3,br{ font-family : 'Nanum Myeongjo', serif;}

.navbar-brand{ font-weight: bold;}

.profile{
    margin-left : 315px;
    margin-top: 80px;
    width : 350px;
    height : 480px;
    object-fit: cover;
    border-radius: 10%;
    float:left;
    box-shadow: 8px 8px 1px 2px rgba(0,0,0,0.1);
} 

.main-box{
    margin-left: 20px;
    margin-top: 80px;
    padding-left:20px;
    float:left;
    overflow: hidden;
}

.intro-box{
    font-weight: 900;
    border-bottom : 1px solid #cbcbcb
}

.sub-box{   
    margin-top :20px;
    text-align: left;
    font-size: 18px;
    color : #6d6d6d;
    border-bottom : 1px solid #cbcbcb
}
.sub-box> p:hover{ font-weight: 800;}

.sub-box2{
    max-width: 1000px;
    width:100% ; 
    margin-top :20px;
    border-bottom: 1px solid #cbcbcb;
}
    .sub-box2>ul{font-size:0;}

    .sub-box2>ul > li{
        display:inline-block;
        vertical-align: top;
        width:33.3%
    }
    .sub-box2> ul >li > a{
        display:block;
        width: 150px;
        text-decoration: none;
        margin:8px;
    }
    .sub-box2> ul> li> a .screen{
        position: relative ;
        overflow: hidden;
    }

    .sub-box2>ul>li>a .screen img{ 
        width:100%;
        transition: all 0.35s linear;
    }
    .sub-box2>ul>li>a .screen:hover img{ 
        transform: scale(1.2);
    }


    .sub-box2>ul>li>a p{
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        margin-bottom:0;
        color:#858585;
    }

.sns-img {
    width:25px;
    height:25px;
}

.sns-wrap {
    text-align:right;
    margin-top:20px;
}

.about-box{
    margin-left: 60px;
    margin-right: 60px;
    padding: 43px;
    float:left;
    
}

.about-box> h2,h3{
    color:#7a7a7a;
    font-weight: lighter;
    margin-bottom: 16px;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 5px;
}

.img-box{
    max-width: 100%;
}
.img-box> ul{
    font-size:0;
    text-align: center;
}

    .img-box>ul > li{
        display:inline-block;
        vertical-align: top;
        margin-bottom: 30px;
        
    }

    .img-box> ul> li> .screen img{ 
        display:block;
        width: 280px;
        height: 280px;
        margin : 20px;
        object-fit: cover;
    }

    .img-box>ul>li> p{
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
        margin-bottom:0;
        color:#3c3c3c;
    }
    .img-box>ul>li> p.about-me-text{ 
        border-top: 1px solid #3c3c3c;
        width: 280px;
        height: 100px;
        margin : 20px;
        text-align: center;
        color :#6c6c6c;
        font-size: 15px;
    }

    .scroll-top {
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 100;
        background-color: rgb(122, 122, 122);
        opacity: .8;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: none;
        color: #fff;
    }
    /* .scroll-top:hover {
        cursor: pointer;
    } */

@media(max-width: 780px) {
}